body {
  /* background: lightgreen; */
  -webkit-font-smoothing: antialiased;
  color: black;
  height: 100vh;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: palegoldenrod;
}

section {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 2%;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 90%;
}

label {
  margin: 10px 0;
}

input {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  margin: 5px 0;
  border-bottom: solid 3px darkkhaki;
  outline: none;
  background-color: transparent;
  color: darkblue;
}

input:focus {
  border-bottom: solid 3px darkblue;
  color: darkblue;
  background-color: darkkhaki;
}

input::selection {
  background: white;
}

input::placeholder {
  color: darkkhaki;
}

span {
  color: darkblue;
}
.assessment,
.questionnaire {
  text-transform: uppercase;
  font-weight: 700;
}

.assessment {
  display: flex;
}

.result {
  display: flex;
  flex-direction: column;
  height: 100%;
  visibility: hidden;
  margin: auto;
}

h1,
h2 {
  margin: auto;
}

#result__text {
  font-size: 1rem;
  overflow-wrap: break-word;
  font-weight: 700;
  background-color: darkblue;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}
#result__value,
h2 {
  font-weight: 700;
  text-transform: uppercase;
  visibility: visible;
}
#result__text,
#result__value {
  margin: 15px auto;
}

h2 {
  visibility: hidden;
}

@media (max-width: 320px) {
  #result__text {
    font-size: 1rem;
  }
}
