body {
  /* background: lightgreen; */
  -webkit-font-smoothing: antialiased;
  color: black;
  height: 100vh;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: white;
}

section {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 2%;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 90%;
}

label {
  margin: 10px 0;
}

input {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  margin: 5px 0;
  border-bottom: solid 3px darkblue;
  outline: none;
}

input:focus {
  border-bottom: solid 3px darkblue;

  background-color: #ddded7;
  /* border: 1px solid #0011ff; */
}
input::selection {
  background: #f7a494;
}

input::placeholder {
  color: darkblue;
}

span {
  color: darkblue;
}

.questionnaire {
  text-transform: uppercase;
  font-weight: 700;
}

.result {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#result__text,
#result__value,
h1,
h2 {
  margin: auto;
}

#result__text {
  font-size: 1rem;
  overflow-wrap: break-word;
  font-weight: 700;
  background-color: lightgrey;
  text-transform: uppercase;
  color: darkblue;
  padding: 10px;
}
#result__value,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  visibility: hidden;
}

@media (max-width: 320px) {
  #result__text {
    font-size: 1rem;
  }
}
